*.pyc
.vscode
output
build
tensorboard_3d
screenshots
wandb/
__pycache__
newout/
output/
dist
*.egg-info
data/
ply/
build
*.so
*.script
blender_eval/
dtu_eval/
out_extract_mesh/
outmesh/
*.err
*.out
*.ply
script/tmp/
cull_mesh/
